[submodule "observatory/models/TURL"]
	path = observatory/models/TURL
	url = git@github.com:sunlab-osu/TURL.git
[submodule "observatory/models/DODUO"]
	path = observatory/models/DODUO
	url = git@github.com:megagonlabs/doduo.git
[submodule "observatory/models/TaBERT"]
	path = observatory/models/TaBERT
	url = git@github.com:facebookresearch/TaBERT.git
